<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />

    <title>Thymeleaf3 + Servlet3 示例</title>
    <link rel="stylesheet" href="http://localhost:8080/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <script type="text/javascript" src="http://localhost:8080/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="d-flex p-3">
        <div class="flex-lg-fill"> </div>
        <div class="flex-lg-fill text-center">
            <a href="#" >
                <h3>你关心的才是头条</h3>
            </a>
        </div>
        <div class="flex-lg-fill">
        <div class="btn-group  ">
            <button th:if="${user}" type="button" class="btn btn-primary">分享</button>
            <button th:if="${user}" type="button" class="btn btn-primary">站内信</button>
            <button th:if="${user}" type="button" class="btn btn-primary">用户名</button>
            <button th:if="${user}" type="button" class="btn btn-primary">退出</button>

            <button th:unless="${user}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                登陆
            </button>
<!--            <button  id="login" type="button" class="btn btn-primary">登陆</button>-->
        </div>
          </div>
         </div>
</div>



<!--<div class="mask" style="display: none;">-->
<!--    <div class="login">-->
<!--        <span>登录</span>-->
<!--        <label for="id">账号</label>-->
<!--        <input type="text" id="id" />-->
<!--        <label for="password">密码</label>-->
<!--        <input type="password" id="password" />-->
<!--        <button type="button" id="in">登录</button>-->
<!--        <button type="button" id="out">取消</button>-->
<!--    </div>-->
<!--</div>-->

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title"> <span>登录</span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="/user">
            <!-- 模态框主体 -->
            <div class="modal-body">

                    <label for="id">账号</label>
                    <input type="text" id="id" />
                    <label for="password">密码</label>
                    <input type="password" id="password" />


            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" id="login" class="btn btn-secondary" >登录</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
            </form>
        </div>
    </div>
</div>


    <div style="width:800px;display: block;margin: 0 auto;">
        <nav aria-label="Page navigation example">
            <ul class="pagination" >
                <li   class="page-item"><a class="page-link" th:href="@{'/index/'+1 }" th:class="${#request.getRequestURI().split('/')[2]}==1? 'active page-link': 'page-link' " th:text="开头" href="#">num</a></li>

                <li class="page-item" id="pre" ><a class="page-link" href="javascript:;">Previous</a></li>

                <li  th:if="${page}<3" th:each="index:${#numbers.sequence(1,5)}" class="page-item"><a class="page-link" th:href="@{'/index/'+${index} }" th:class="${#request.getRequestURI().split('/')[2]}==${index}? 'active page-link': 'page-link' " th:text="${index}" href="#">1</a></li>
                <li  th:if="${page > num -5}" th:each="index:${#numbers.sequence(num -4,num)}" class="page-item"><a class="page-link" th:href="@{'/index/'+${index} }" th:class="${#request.getRequestURI().split('/')[2]}==${index}? 'active page-link': 'page-link' " th:text="${index}" href="#">1</a></li>
                <li th:if="${page>=3 && page<= num -5}" th:each="index:${#numbers.sequence(page - 2,page+2)}" class="page-item"><a class="page-link" th:href="@{'/index/'+${index} }" th:class="${#request.getRequestURI().split('/')[2]}==${index}? 'active page-link': 'page-link' " th:text="${index}" href="#">1</a></li>

                <li class="page-item" id="next"><a class="page-link" href="javascript:;">Next </a></li>
                <li   class="page-item"><a class="page-link" th:href="@{'/index/'+${num} }" th:class="${#request.getRequestURI().split('/')[2]}==${num}? 'active page-link': 'page-link' " th:text="末尾" href="#">num</a></li>

            </ul>
        </nav>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                显示条数
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="http://localhost:8080/indexCount/5">5</a>
                <a class="dropdown-item" href="http://localhost:8080/indexCount/10">10</a>
                <a class="dropdown-item" href="http://localhost:8080/indexCount/15">15</a>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" th:style="'width:'+${page/num *100}+'%'"></div>
        </div>
<!--        <div th:each="vo:${vos}" style="margin: 30px 0;height: 124px;" >-->
<!--                    <img class="in-block" th:src="'http://localhost:8080/'+@{${vo.news.imageUrl}}" style="width: 190px; height: 100%;"/>-->
<!--                    <div class="in-block" style="width: 400px; height: 100%;">-->
<!--                     标题 <h5 class="in-block" th:href="${vo.news.link}" th:text="${ vo.news.title}"/>-->
<!--                        <p style="font-size: 12px;height: 55px;overflow: hidden;">我注意到有报道称，台湾今年花费118亿美元采购美武器，折合新台币3422亿元，相当于台湾民众人均负担1.45万元。不知道台湾同胞对自己辛勤劳动创造出来的财富被用来大量购买美国的二手武器、充当美国利益集团的“提款机”作何感想</p>-->
<!--                        <div class="flex" style="color: gray;font-size: 10px">-->
<!--                            爱心<span style="flex: 1;" class="in-block" th:text="${vo.news.likeCount}"/>-->
<!--                            评论<span style="flex: 1;" class="in-block" th:text="${vo.news.commentCount}"/>-->
<!--                            <span style="flex: 2"></span>-->
<!--                            <span style="flex: 2;font-size: 12px;" class="in-block" th:text="  ${#dates.format(vo.news.createDate,'yyyy年MM月dd日')}" />-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="in-block" style="width: 100px;height: 100%;">-->
<!--                        <img class="block rounded-circle" th:src="@{${vo.user.headUrl}}" style="width: 100px;height: 100px;" />-->
<!--                        <span class="d-block" style="width: 100%;text-align: center;" th:text="${vo.user.name}"></span>-->
<!--                    </div>-->
<!--        </div>-->

        <div th:each="newsUsers:${voss}"  >
            <div class="card">
                <div style="flex: 2;font-size: 30px; "  class="in-block card-body" th:text="  ${#dates.format(newsUsers.date,'yyyy年MM月dd日')}" />
            </div>

            <div th:each="vo:${newsUsers.newsUserList}" style="margin: 30px 0;height: 124px;" >
                <img class="in-block" th:src="'http://localhost:8080/'+@{${vo.news.imageUrl}}" style="width: 190px; height: 100%;"/>
                <div class="in-block" style="width: 400px; height: 100%;">
                    标题 <h5 class="in-block" th:href="${vo.news.link}" th:text="${ vo.news.title}"/>
                    <p style="font-size: 12px;height: 55px;overflow: hidden;">我注意到有报道称，台湾今年花费118亿美元采购美武器，折合新台币3422亿元，相当于台湾民众人均负担1.45万元。不知道台湾同胞对自己辛勤劳动创造出来的财富被用来大量购买美国的二手武器、充当美国利益集团的“提款机”作何感想</p>
                    <div class="flex" style="color: gray;font-size: 10px">
                        爱心<span style="flex: 1;" class="in-block" th:text="${vo.news.likeCount}"/>
                        评论<span style="flex: 1;" class="in-block" th:text="${vo.news.commentCount}"/>
                        <span style="flex: 2"></span>
                        <span style="flex: 2;font-size: 12px;" class="in-block" th:text="  ${#dates.format(vo.news.createDate,'yyyy年MM月dd日')}" />
                    </div>

                </div>

                <div class="in-block" style="width: 100px;height: 100%;">
                    <img class="block rounded-circle" th:src="@{${vo.user.headUrl}}" style="width: 100px;height: 100px;" />
                    <span class="d-block" style="width: 100%;text-align: center;" th:text="${vo.user.name}"></span>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination" >
                <li   class="page-item"><a class="page-link" th:href="@{'/index/'+1 }" th:class="${#request.getRequestURI().split('/')[2]}==1? 'active page-link': 'page-link' " th:text="开头" href="#">num</a></li>

                <li class="page-item" id="pre" ><a class="page-link" href="javascript:;">Previous</a></li>
                <li  th:if="${page}<3" th:each="index:${#numbers.sequence(1,5)}" class="page-item"><a class="page-link" th:href="@{'/index/'+${index} }" th:class="${#request.getRequestURI().split('/')[2]}==${index}? 'active page-link': 'page-link' " th:text="${index}" href="#">1</a></li>
                <li  th:if="${page > num -5}" th:each="index:${#numbers.sequence(num -4,num)}" class="page-item"><a class="page-link" th:href="@{'/index/'+${index} }" th:class="${#request.getRequestURI().split('/')[2]}==${index}? 'active page-link': 'page-link' " th:text="${index}" href="#">1</a></li>

                <li th:if="${page>=3 && page<= num -5}" th:each="index:${#numbers.sequence(page - 2,page+2)}" class="page-item"><a class="page-link" th:href="@{'/index/'+${index} }" th:class="${#request.getRequestURI().split('/')[2]}==${index}? 'active page-link': 'page-link' " th:text="${index}" href="#">1</a></li>

                <li class="page-item" id="next"><a class="page-link" href="javascript:;">Next </a></li>
                <li   class="page-item"><a class="page-link" th:href="@{'/index/'+${num} }" th:class="${#request.getRequestURI().split('/')[2]}==${num}? 'active page-link': 'page-link' " th:text="末尾" href="#">num</a></li>

            </ul>
        </nav>
    </div>

<script>
    $(function () {
        var index=[[${#request.getRequestURI().split('/')[2]}]];
        var max=Math.ceil( [[${num}]]);
        (function () {
            //
            // $('#menu').dropdown('toggle');
            // // $('.dropdown-toggle').dropdown('toggle');

            if(index==1){
                $("#pre").css("pointer-events","none");
            }

            if(index==max){
                $("#next").css("pointer-events","none");
            }
        })();
        // $("#nav").dropdown('toggle');
        // $("#nav").dropdown('show');

        $("#pre").click(function () {
            index=index-1;
            // alert(index);
            window.location.href="http://localhost:8080/index/"+index;
        });
        $("#next").click(function () {
            index=index+1;
            // alert(index);
            window.location.href="http://localhost:8080/index/"+index;
        });

       $("#login").click(function () {


           var username=$("#id").val();
           var password=$("#password").val();
           // var obj={};
           // obj.aa=1;
           // alert(obj.aa);

           $.ajax({
               url:"http://localhost:8080/user",
               data: {
                   "username": username,
                   "password": password
               },
               dataType:"json",
               type:"POST",
               success:function (data) {
                    alert(data.status);
               }
           });

       })
    })
</script>

</body>
<style>
    ul,li{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .in-block{
        display: inline-block;
        vertical-align: middle;
    }
    .block{
        display: block;
        vertical-align: middle;
    }
    .flex{
        display: flex;
    }
    .active{
       color: red;
    }



    input{
        width: 350px;
        height: 25px;
        margin-left:20px ;
        margin-bottom: 20px;
    }
    label{
        margin-left:50px ;
    }


    /*a {font-size:16px}*/
    /*a:link {color: blue; text-decoration:none;}*/
    /*a:active:{color: red; }*/
    /*a:visited {color:purple;text-decoration:none;}*/
    /*a:hover {color: red; text-decoration:underline;}*/
</style>
</html>


